@import 'tailwindcss';

/* Import the Satoshi font */
@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi/Satoshi-Variable.woff2') format('woff2');
	font-weight: 300 900;
	font-stretch: 75% 125%;
	font-display: swap;
}

@theme {
	/* Palette */
	--color-sugar-cane-50: #f6fbf2;
	--color-sugar-cane-100: #eaf7e1;
	--color-sugar-cane-200: #d5eec4;
	--color-sugar-cane-300: #b2df96;
	--color-sugar-cane-400: #89c761;
	--color-sugar-cane-500: #66ac3b;
	--color-sugar-cane-600: #518d2c;
	--color-sugar-cane-700: #417025;
	--color-sugar-cane-800: #365922;
	--color-sugar-cane-900: #2d491e;
	--color-sugar-cane-950: #15280b;

	--color-background: var(--theme-background);
	--color-info-background: var(--theme-info-background);
	--color-surface: var(--theme-surface);
	--color-surface-hover: var(--theme-surface-hover);
	--color-primary: var(--theme-primary);
	--color-primary-hover: var(--theme-primary-hover);
	--color-text: var(--theme-text);
	--color-text-muted: var(--theme-text-muted);
	--color-border: var(--theme-border);
	--color-border-hover: var(--theme-border-hover);
	--color-hover: var(--theme-hover);
	--color-danger: var(--theme-danger);

	/* Not color related stuff :) */
	--spacing-post: var(--post-padding);
	--radius-theme: var(--ui-roundness);
}

/* ----- Basic defaults ----- */
:root {
	--post-padding: 1rem;
	--ui-roundness: 0px;
	font-family: 'Satoshi', sans-serif;

	/* Light theme */
	--theme-background: #ffffff;
	--theme-info-background: var(--color-sugar-cane-300);
	--theme-surface: #f5f5f5;
	--theme-surface-hover: #e8e8e8;
	--theme-primary: var(--color-sugar-cane-700);
	--theme-primary-hover: var(--color-sugar-cane-700);
	--theme-text: #111111;
	--theme-text-muted: #666666;
	--theme-border: #dddddd;
	--theme-border-hover: #b3b3b3;
	--theme-hover: #cacaca;
	--theme-danger: #9f2929;

	color-scheme: light;
}

/* ----- CUSTOM DATA ----- */
/* NOTE: if default, nothing is included */

/* If chosen dark mode, customize */
:root[data-theme='dark'] {
	--theme-background: #0d0d0d;
	--theme-info-background: var(--color-sugar-cane-800);
	--theme-surface: #121212;
	--theme-surface-hover: #252528;
	--theme-primary: var(--color-sugar-cane-400);
	--theme-primary-hover: var(--color-sugar-cane-300);
	--theme-text: #f5f5f5;
	--theme-text-muted: #999999;
	--theme-border: #303030;
	--theme-border-hover: #454545;
	--theme-hover: #1d1d1d;

	--theme-danger: #d46868;

	color-scheme: dark;
}

/* Custom Roundness */
:root[data-roundness='round'] {
	--ui-roundness: 8px;
}

:root[data-roundness='rounder'] {
	--ui-roundness: 16px;
}

:root[data-roundness='roundest'] {
	--ui-roundness: 32px;
}

:root[data-roundness='dont'] {
	--ui-roundness: 100%;
}

/* Custom Post Padding */
:root[data-post-padding='small'] {
	--post-padding: 0.5rem;
}

:root[data-post-padding='large'] {
	--post-padding: 2rem;
}

/* Custom Font */
:root[data-font='system'] {
	font-family: system-ui, sans-serif;
}

/* Custom Font Size */
:root[data-font-size='small'] {
	font-size: 87.5%; /* 14px when browser default is 16px */
}

:root[data-font-size='large'] {
	font-size: 112.5%; /* 18px */
}

@layer base {
	html,
	body {
		background-color: var(--color-background);
		color: var(--color-text);
	}

	body {
		margin: 0;
		min-height: 100dvh;
	}

	h1 {
		font-size: var(--text-4xl) /* 2.25rem = 36px */;
		line-height: var(--tw-leading, var(--text-4xl--line-height) /* calc(2.5 / 2.25) ≈ 1.111111 */);
		font-weight: bold;
	}

	h2 {
		font-size: x-large;
		font-weight: bold;
	}

	::selection {
		background-color: var(--theme-primary);
		color: var(--theme-background);
	}
}
